
#sidebar {
    position: absolute;
    z-index: 9;
    width: 30%;
    left:-500px;
    height: 100%;
    border-right: 1px solid #e1e4e5;
    display: flex;
    flex-direction: column;
    transition:all 0.5s ease;
    color: white;
    #row1 {
      display: flex;
      flex-direction: column;
      #sidebarHeader {
        flex-basis: 67px;
        background-color: #00bfa5;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;

      }
  
      #searchBox {
        flex-basis: 50px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #e1e4e5;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: absolute;
          left: 30px;
        }

      }
    }
  
    #noConversations {
      padding-top: 30px;
      text-align: center;
      color: #b9b9b9;
      font-size: 18px;
  
      font-weight: 100;
    }
  
    #sidebarContent {
      flex-grow: 1;
      overflow: auto;
  
      .conversation {
        height: 67px;
        display: flex;
        padding-right: 5px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: rgba(#ccc, 0.05);
        }
        .picture {
          flex-basis: 73px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 100%;
            width: 48px;
          }
        }
        .content {
          border-bottom: 1px solid #f2f2f2;
          flex-grow: 1;
          padding: 13px 0px;
          padding-right: 10px;
          .conversationHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .name {
              color: #040404;
            }
            .time {
              color: #979797;
              font-size: 13px;
              padding-top: 2px;
            }
          }
  
          .message {
            color: #717171;
            font-size: 13px;
            padding-top: 5px;
            display: flex;
            align-items: center;
            img {
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
  
  
  .image-cropper {
  
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  
    flex-basis: 43px;
    height: 43px;
    img {
      height: 100%;
    }
  }
  
  .avatar-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  
  ::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: white;
    box-shadow: inset 0 0 0px #707070;
  }
  
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  #sidebar.test {
    left:0px;
  }

  h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }