<div id="sidebar"  [ngClass]="{'show' : visible}">
  <div id="row1">
    <div id="sidebarHeader">
        <input (click)="closeNewChat()" type="image" src="../../assets/images/backarrow.svg" />
        <h3 id="text">New Chat</h3>
        
    </div>
    <div id="searchBox">
        <img width="19" src="../../assets/images/searchIcon.svg" />
        <input
          [(ngModel)]="searchText"
          type="text"
          placeholder="Enter recipient email"
        />
  </div>

  <div id="sidebarContent">
    <div class="conversation"    (click)="newChat()">
    <div class="picture">
      <img src="../../assets/images/newchat.svg" />
    </div>
    <div class="content">
      <div class="conversationHeader">
        <div class="name">New Chat</div>
      </div>
      <div class="message">
      </div>
    </div>
  </div>
  <div class="conversation"    (click)="newGroup()">
    <div class="picture">
      <img src="../../assets/images/newgroup.svg" />
    </div>
    <div class="content">
      <div class="conversationHeader">
        <div class="name">New Group</div>
      </div>
    </div>
  </div>
  <div class="filler"></div>
  </div>
</div>