<div id="sidebar"  [ngClass]="{'test' : visible}">
  <div id="row1">
    <div id="sidebarHeader">
        <img src="../../assets/images/backarrow.svg" />
        <h2>New Chat</h2>

    </div>
    <div id="searchBox">
      <img width="19" src="../../assets/images/searchIcon.svg" />

    </div>
  </div>

  <div id="sidebarContent">
    <!-- <div id="noConversations">All chats are archived</div> -->

    <div
      class="conversation"
    >
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="content">
        <div class="conversationHeader">
        </div>
        <div class="message">

        </div>
      </div>
    </div>
  </div>
</div>